.authContainer{
    background-image: url('../src/assets/images/authimg.png');
    background-size: cover;
}
.overlay{
    background: linear-gradient(45deg,rgba(84, 158, 124,0.6),rgba(46, 45, 45, 0.99));
}

.container-SideBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;  
  z-index: 1000;  
   background-color:rgba(31, 38, 62, 1) ; 
  border-top-right-radius: 100px;
}

.container-SideBar .ps-sidebar-container{
     background-color:rgba(31, 38, 62, 1) ;
    border-top-right-radius:60px ;
    height: 100% !important;
}
.container-SideBar .ps-menu-button{
    color: antiquewhite !important;
}
.container-SideBar .ps-menu-button:hover{
     background-color:rgba(0, 146, 77,0.2) !important;
     border: 2px solid rgba(0, 146, 77,0.4) ;
     transition: all 1s;
     border-radius: 5px;
     
}